---
---

@import 'settings';
@import 'foundation';

@include foundation-everything;

@import 'montserrat';
@font-face {
    font-family: DINCondensed;
    src: url(../fonts/DinCondensed/DINCondensed-Bold.ttf);
    font-weight:400;
}

.no-js  {
  display:none;
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

body  {
  font-family: 'Montserrat', sans-serif;
}

footer  {
  background-color: #777777;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: $white;
  position: absolute;
  min-height: 10vh;
  @include breakpoint(small only) {
    height: 20vh;
  }
  size: 1rem;
  //overflow:auto;
}

.social-logo  {
  height: 2rem;
  display: inline-block;
  padding: 0.1rem;
  color: $white;
  margin-top: 0;
}

.fa-social-logo  {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  padding: 0.15rem;
  color: $white;
  vertical-align: middle;
}

.title-bar  {
  z-index: 5;
  //vertical-align: middle;
}

.footer-content {
  //vertical-align: middle;
}

.footer-left  {
  vertical-align: top;
}

.footer-right {
  text-align: right;
}

html  {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

.content-wrapper  {
  margin-bottom: 7rem;
  text-align: justify;
}

.logo {
  height: 4rem;

  @include breakpoint(small only) {
    height: 3.3rem;
  }
}

.wordmark {
  height: 3.5rem;

  @include breakpoint(small only) {
    height: 2.8rem;
  }
}

.logo .wordmark {
  fill: #ff0000;
}

.logo .wordmark path {
  fill: #ff0000;
}

$topbar-responsive-bg: #0C2745;//#2c3840;
$topbar-responsive-bg-warmun: #573B61;
//$topbar-responsive-animation-type: slide-down; // or use slide-down or none

.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 0.25rem 1rem;
  min-height: 10vh;
  @media screen and (min-width: 40em) {
    //height: 15vh;
  }

  z-index: 9;

  .topbar-responsive-logo {
    color: $white;
    vertical-align: middle;
  }

  .menu {
    background: $topbar-responsive-bg;

    li {
      text-align: center;
    }

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: $white;
      transition: color 0.15s ease-in;
      text-align: center;

      /**&:hover {
        color: lighten($topbar-responsive-bg, 60%);
      }*/

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }

    .topbar-responsive-button {
      color: $white;
      border-color: $white;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in;
      display: inline-block;
      margin-left: 0.875rem;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
        border-color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        margin: 0.875rem 0;
      }
    }
  }

   @media screen and (max-width: 39.9375em) {
     //padding: 0.75rem;

      .top-bar-title {
        position: relative;
        width: 100%;
        vertical-align: middle;

      span {
        position: absolute;
        right: 0;
        border: 1px solid $white;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
}

.top-bar  {
  z-index: 5;
  .submenu  {
    z-index: 6;
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(small only) {
  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.5s;
    width: 100%;
    //z-index: -1;

    /*@if $topbar-responsive-animation-type == slide-down {
      animation: slideDown 1s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn 1s ease-in;
    } @else {
      animation: none;
    }*/
  }
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.submenu > li > a {
  font-size: 0.9rem;
  font-style: italic;
}

.content-wrapper  {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}





//$large-article-header-bg: url('../img/photos/14682086_1664077117215654_3736513200733211382_o.jpg');//url('https://unsplash.it/1024/500/?blur');
$large-article-header-color: $white;
$large-article-header-height: 90vh;//rem-calc(500);

.large-article-header {
  //background: $large-article-header-bg no-repeat center;
  //background-size: cover;
  //background-color: $topbar-responsive-bg;
  height: $large-article-header-height;
  position: relative;
  text-align: center;

  @include breakpoint(small only) {
    //height: ($large-article-header-height / 1.5);
    height: 90vh;
  }
}

.large-article-header-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  //bottom: rem-calc(50);
  left: 0;
  right: 0;
  //top: 15vh;
  //bottom: 50%;
  z-index: 0;
  bottom: 0;

  @include breakpoint(small only) {
    //bottom: 15vh;//rem-calc(20);
  }
}

.center-container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  height: 75vh;
  z-index: 2 !important;
  color: $white;
  left: auto;
  right: auto;
  text-align: center;
  top: 15vh;
  //bottom: 0;
  pointer-events: none;

  @include breakpoint(small only) {
    width: 100%;
    padding: 0 rem-calc(20);
  }
}
.article-title {
  text-align: center;
  color: $white;
  display: inline-block;
  max-width: 90%;
  h1 {
    line-height: rem-calc(50);
    color: $large-article-header-color;
    font-weight: 600;

    @include breakpoint(small only) {
      line-height: rem-calc(30);
    }
  }
}

.homepage-logo  {
  height: 40vh;
}

.homepage-panel-content {
  height: 100vh;
  background-color: Gainsboro;
}

.down-button  {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  top: 6vh;
}

.direction-button {
  color: $white;
}

.homepage-element {
  //position: absolute;
}

/*.translucent-panel  {
  width: 50%;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
  background-color: red;
}*/

.home-orbit-container {
  height: 90vh !important;
  @include breakpoint(small only) {
    //top: 15vh;
    //height: 85vh !important;
    bottom: 0;
  }
  z-index: 0;
  //filter: grayscale(100%);
  //box-shadow: inset 0 0 0 100px rgba(36, 70, 105, 0.74);
}

.home-orbit {
  //height: 90vh !important;
}

.home-orbit .orbit-image {
  max-width: 100%;
  overflow: hidden;
  min-height: 90vh !important;
  object-fit: cover;
  //min-width: 100%;
  //min-height: 90vh !important;
  @include breakpoint(small only) {
    //top: 10vh;
    //height: 85vh !important;
    //bottom: 0;
  }
}

.transparent-filter {
  height: 100%;
  width: 100%;
  background-color: rgba(/*$topbar-responsive-bg*/ $black, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  @include breakpoint(small only) {
    top: 0vh;
    height: 90vh !important;
  }
}

.homepage-panel-content {
  //top: 15vh;
}

.accordion-menu {
  width: 100%;
  z-index: 10;
}

.top-bar-right {
    z-index: 9;
}

.home-panel{
  padding-bottom: 10vh;
  @include breakpoint(small only) {
    padding-bottom: 20vh;
  }
}

/*.orbit-slide:not(.is-active) {
  display: none;
}*/

.homename  {
  font-size: 5vh;
}
.slogan {
  font-size: 3.75vh;
}


.topbar-responsive.warmun {
  background-color: $topbar-responsive-bg-warmun;
  ul  {
    background-color: inherit;
  }
  .menu {
    background: $topbar-responsive-bg-warmun;
    .topbar-responsive-button {
      &:hover {
        color: lighten($topbar-responsive-bg-warmun, 60%);
        border-color: lighten($topbar-responsive-bg-warmun, 60%);
      }
    }
  }
}

h1.warmun {
  font-family: DinCondensed;
}

.apply_button {
  //color: $black;
  /*border: 1px solid $black;*/
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
  display: inline-block;
  /*&:hover {
    color: darken(grey, 60%);
    border-color: darken(grey, 60%);
  }*/
}

.times {
  width: 20%;
}
