---
---

@import 'settings';
@import 'foundation';

@include foundation-everything;

@import 'montserrat';

.no-js  {
  display:none;
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

body  {
  font-family: 'Montserrat', sans-serif;
}

footer  {
  background-color: #777777;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: $white;
  position: absolute;
  height: 8rem;
  size: 1rem;
}

.social-logo  {
  height: 2rem;
  display: inline-block;
  padding: 0.1rem;
  color: $white;
  margin-top: 0;
}

.fa-social-logo  {
  height: 2rem;
  display: inline-block;
  //padding: 0.1;
  color: $white;
  margin: 0;
}

.footer-content {
  //vertical-align: middle;
}

.footer-left  {
  vertical-align: top;
}

.footer-right {
  text-align: right;
}

html  {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

.content-wrapper  {
  margin-bottom: 7rem;
  text-align: justify;
}

.logo {
  height: 5rem;

  @include breakpoint(small only) {
    height: 3.3rem;
  }
}

.wordmark {
  height: 4rem;

  @include breakpoint(small only) {
    height: 2.8rem;
  }
}

.logo .wordmark {
  fill: #ff0000;
}

.logo .wordmark path {
  fill: #ff0000;
}

$topbar-responsive-bg: #0C2745;//#2c3840;
//$topbar-responsive-animation-type: slide-down; // or use slide-down or none

.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 1rem 1.5rem;

  .topbar-responsive-logo {
    color: $white;
    vertical-align: middle;
  }

  .menu {
    background: $topbar-responsive-bg;

    li {
      text-align: center;
    }

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: $white;
      transition: color 0.15s ease-in;
      text-align: center;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }

    .topbar-responsive-button {
      color: $white;
      border-color: $white;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in;
      display: inline-block;
      margin-left: 0.875rem;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
        border-color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        margin: 0.875rem 0;
      }
    }
  }

   @media screen and (max-width: 39.9375em) {
     padding: 0.75rem;

      .top-bar-title {
        position: relative;
        width: 100%;

      span {
        position: absolute;
        right: 0;
        border: 1px solid $white;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
    opacity:1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(small only) {
  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.5s;
    width: 100%;
    //z-index: -1;

    /*@if $topbar-responsive-animation-type == slide-down {
      animation: slideDown 1s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn 1s ease-in;
    } @else {
      animation: none;
    }*/
  }
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
