<footer id="#footer">
<div class= "grid-padding-x">
  <div class="cell auto"></div>
  <div class="cell small-11 medium-10 large-9 columns">
    <div class="grid-x">
      <div class="cell small-6 medium-6 large-6 columns footer-left">
        <a target="_blank" href="https://www.facebook.com/warwickmunsoc/"><img class="social-logo" src="../img/social/FacebookWhite.svg" alt="Facebook"/></a>
        <a target="_blank" href="https://www.instagram.com/warwickunsoc/"><img class="social-logo" src="../img/social/InstagramWhite.svg" alt="Instagram"/></a>
        <a target="_blank" href="mailto:warwickunexec@gmail.com"><i data-fa-symbol="mail" class="far fa-envelope fa-fw"></i><svg class="fa-social-logo" alt="Email"><use xlink:href="#mail"></use></svg></a>
      </div>
      <div class="cell small-6 medium-6 large-6 columns footer-right">
        Website &copy; Aaron Gilchrist 2019<br>
        Content &copy; Warwick UN Society 2019
      </div>
    </div>
  </div>
  <div class="cell auto"></div>
</div>
</footer>
