<header class="site-header">
<a name="first"></a>
<nav class="nav">
  <ul class="navul">
    <li class="navicon-logo">
      <a href="/index.html" class="animsition-link"><img src="/media/blacklogo.svg" alt="ReiMUN Logo" class="logo" onerror="this.src='/media/blacklogo.png'" onmouseover="
        try {
          this.src='/media/greylogo.svg';
        } catch(err) {
          this.src='/media/greylogo.png';
        }"
        onmouseout="
          try {
            this.src='/media/blacklogo.svg';
          } catch(err) {
            this.src='/media/blacklogo.png';
          }"></a>
        <!--Grey logo: /media/offwhitelogo.svg-->
    </li>
    <li class="navicon">
      <a href="/reimun" class="animsition-link nava">ReiMUN 20 <span class="arrow"></span></a>
      <ul class="submenu">
        <li class="sub-navicon">
          <a href="/agenda" class="animsition-link nava subnava">Agenda</a>
        </li>
        <li class="sub-navicon">
          <a href="/programme" class="animsition-link nava subnava">Programme</a>
        </li>
        <!--<li class="sub-navicon">
          <a href="#" class="animsition-link nava subnava">Resources</a>
        </li>-->
        <li class="sub-navicon">
          <a href="/location" class="animsition-link nava subnava">Location</a>
        </li>
      </ul>
    </li>

    <li class="navicon">
      <a href="/handbook" class="animsition-link nava">Delegate Handbook <span class="arrow"></span></a>
      <ul class="submenu">
        <li class="sub-navicon">
          <a href="/about-mun" class="animsition-link nava subnava">What is MUN?</a>
        </li>
        <!--<li class="sub-navicon">
          <a href="/agenda" class="animsition-link nava subnava">Agenda</a>
        </li>-->
        <li class="sub-navicon">
          <a href="/preparation" class="animsition-link nava subnava">Preparation</a>
        </li>
        <li class="sub-navicon">
          <a href="/the-conference" class="animsition-link nava subnava">The Conference</a>
        </li>
        <li class="sub-navicon">
          <a href="/events" class="animsition-link nava subnava">The Events of the Day</a>
        </li>
        <li class="sub-navicon">
          <a href="/mun-debates" class="animsition-link nava subnava">MUN Debates</a>
        </li>
        <li class="sub-navicon">
          <a href="/security-council" class="animsition-link nava subnava">The Security Council</a>
        </li>
        <li class="sub-navicon">
          <a href="/resolution-writing" class="animsition-link nava subnava">Resolution Writing</a>
        </li>
        <li class="sub-navicon">
          <a href="/first" class="animsition-link nava subnava">My First Conference</span></a>
        </li>
      </ul>

    <li class="navicon">
      <a href="/chairs" class="animsition-link nava">Chair Training <span class="arrow"></span></a>
      <ul class="submenu">
        <li class="sub-navicon">
          <a href="/chairing-mun" class="animsition-link nava subnava">Chairing MUN</a>
        </li>
        <li class="sub-navicon">
          <a href="/chairing-security-council" class="animsition-link nava subnava">Chairing the SC</a>
        </li>
        <li class="sub-navicon">
          <a href="/mun-debates" class="animsition-link nava subnava">MUN Debates</a>
        </li>
        <li class="sub-navicon">
          <a href="/issues" class="animsition-link nava subnava">Issues</a>
        </li>
        <li class="sub-navicon">
          <a href="/useful-chair-phrases" class="animsition-link nava subnava">Useful Phrases</a>
        </li>
        <li class="sub-navicon">
          <a href="/chair-training-script" class="animsition-link nava subnava">Training Script</a>
        </li>
      </ul>
    </li>

    <li class="navicon">
      <a href="/about" class="animsition-link nava">About ReiMUN</a>
    </li>

    <li class="navicon">
      <a href="/search" class="animsition-link nava"><i class="fa fa-search"></i></a>
    </li>

  </ul>
</nav>

</header>
<section class="animsition">
