<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=NmP9PL7O7x">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=NmP9PL7O7x">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=NmP9PL7O7x">
  <link rel="manifest" href="/site.webmanifest?v=NmP9PL7O7x">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=NmP9PL7O7x" color="#0c2745">
  <link rel="shortcut icon" href="/favicon.ico?v=NmP9PL7O7x">
  <meta name="apple-mobile-web-app-title" content="Warwick UN Society">
  <meta name="application-name" content="Warwick UN Society">
  <meta name="msapplication-TileColor" content="#0c2745">
  <meta name="theme-color" content="#0c2745">
  <script src="https://kit.fontawesome.com/ffa3effb2a.js"></script>
</head>
