<nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <a class="topbar-responsive-logo" href="{{ site.url }}"><img class="logo" src="{{ site.url }}/img/logo/white-logo-no-text.svg" alt="Logo" /><img class="wordmark" src="{{ site.url }}/img/logo/white-wordmark.svg" alt="Warwick UN Society" /></a>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="vertical medium-horizontal dropdown menu align-right" data-responsive-menu="accordion medium-dropdown" data-alignment="right">
        <li><a>Model UN</a>
          <ul class="menu vertical submenu">
            <li><a href="{{ site.url }}/conferences/">Conferences</a></li>
            <li><a href="{{ site.url }}/training/">Training</a></li>
            <li><a href="{{ site.url }}/mun101workshop/">101 Workshop</a></li>
          </ul></li>
        <!--<li><a>Events</a>
          <ul class="menu vertical submenu">
          <li><a href="{{ site.url }}/academics/">Academics</a></li>
          <li><a href="{{ site.url }}/socials/">Socials</a></li>
          <li><a>Calendar</a></li>
        </ul></li>-->
        <!--<li><a>Outreach</a></li>-->
        <!--<li><a href="{{ site.url }}/news/">News</a></li>-->
        <!--<li><a>About</a>
          <ul class="menu vertical submenu">
            <li><a href="{{ site.url }}/theexec/">Meet the Exec</a></li>
            <li><a>Society Constitution</a></li>
          </ul>
        </li>-->
        <li><a href="{{ site.url }}/warmun/">WARMUN XIII</a></li>
        <li>
          <button type="button" class="button hollow topbar-responsive-button" onclick=" window.open('https://www.warwicksu.com/societies-sports/societies/modelun/','_blank')">Become a member!</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
