    <nav>
      <!--<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><object type="image/svg+xml" data="./img/logo/black-logo-no-text.svg" style="height:5rem"></object>Warwick UN Society</li>
            <li>
              <a href="#">MUN</a>
              <ul class="menu vertical">
                <li><a href="#">What is MUN</a></li>
                <li><a href="#">Training</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Conferences</a></li>
              </ul>
            </li>
            <li><a href="#">Academics</a></li>
            <li><a href="#">Socials</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">About</a>
              <ul class="menu vertical">
                <li><a href="#">Executive Board</a></li>
                <li><a href="#">Society Constitution</a></li>
                <li><a href="#">Elections</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="top-bar row text-center">xtz</div>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">WARMUN</li>
          </ul>
        </div>-->
        <!--<div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>






      <!-- mobile nav bar -->
      <div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="medium">
        <div class="title-bar-left">
          <div class="title-bar-title"><img src="https://placehold.it/100x39" alt="" /></div>
        </div>
        <div class="title-bar-right">
          <button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
        </div>
      </div>
      <!-- /mobile nav bar -->


      <!-- medium and larger nav bar -->
      <div class="top-bar topbar-center-logo" id="topbar-center-logo">
        <div class="top-bar-left">
          <ul class="menu medium-horizontal align-left">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        <!--</div>
        <div class="top-bar-center">-->
          <ul class="menu align-center">
            <li><a href="#">a<img class="top-bar-center-logo" src="../img/logo/black-logo-no-text.svg" alt="Logo" />b</a></li>
          </ul>
        <!--</div>
        <div class="top-bar-right">-->
          <ul class="menu medium-horizontal align-right">
            <li><a href="#">Four</a></li>
            <li><a href="#">Five</a></li>
            <li><a href="#">Six</a></li>
          </ul>
        </div>
      </div>
      <!-- /medium and larger nav bar -->




    </nav>
