<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | WARMUN</title>
  <link rel="stylesheet" href="{{ site.url }}/css/main.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/img/icons/warmun/apple-touch-icon.png?v=m2Rnpp7NxM">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/img/icons/warmun/favicon-32x32.png?v=m2Rnpp7NxM">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/img/icons/warmun/favicon-16x16.png?v=m2Rnpp7NxM">
  <link rel="manifest" href="{{ site.url }}/img/icons/warmun/site.webmanifest?v=m2Rnpp7NxM">
  <link rel="mask-icon" href="{{ site.url }}/img/icons/warmun/safari-pinned-tab.svg?v=m2Rnpp7NxM" color="#573b61">
  <link rel="shortcut icon" href="{{ site.url }}/img/icons/warmun/favicon.ico?v=m2Rnpp7NxM">
  <meta name="apple-mobile-web-app-title" content="WARMUN">
  <meta name="application-name" content="WARMUN">
  <meta name="msapplication-TileColor" content="#573b61">
  <meta name="msapplication-config" content="{{ site.url }}/img/icons/warmun/browserconfig.xml?v=m2Rnpp7NxM">
  <meta name="theme-color" content="#573b61">

  <script src="https://kit.fontawesome.com/ffa3effb2a.js"></script>
</head>
