<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | WARMUN</title>
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/warmun/apple-touch-icon.png?v=5AB6M7R0Kk">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/warmun/favicon-32x32.png?v=5AB6M7R0Kk">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/warmun/favicon-16x16.png?v=5AB6M7R0Kk">
  <link rel="manifest" href="/img/icons/warmun/site.webmanifest?v=5AB6M7R0Kk">
  <link rel="mask-icon" href="/img/icons/warmun/safari-pinned-tab.svg?v=5AB6M7R0Kk" color="#3d114b">
  <link rel="shortcut icon" href="/img/icons/warmun/favicon.ico?v=5AB6M7R0Kk">
  <meta name="apple-mobile-web-app-title" content="WARMUN">
  <meta name="application-name" content="WARMUN">
  <meta name="msapplication-TileColor" content="#3d114b">
  <meta name="msapplication-config" content="/img/icons/warmun/browserconfig.xml?v=5AB6M7R0Kk">
  <meta name="theme-color" content="#ffffff">

  <script src="https://kit.fontawesome.com/ffa3effb2a.js"></script>
</head>
