<nav class="top-bar topbar-responsive warmun"> <!--#3D1549-->
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <a class="topbar-responsive-logo" href="{{ site.url }}/warmunhs/"><img class="logo" src="{{ site.url }}/img/logo/white-logo-no-text.svg" alt="Logo" /><img class="warmunhs-wordmark" src="{{ site.url }}/img/logo/WARMUN HS Logo White.svg" alt="WARMUN" style="height:4.5rem; padding-top:0.3rem;" /></a>
    <!--7-8 March 2020-->
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="vertical medium-horizontal dropdown menu align-right" data-responsive-menu="accordion medium-dropdown" data-alignment="right">
        <!--<li><a>About Us</a>
          <ul class="menu vertical submenu">
            <li><a href="{{ site.url }}/warmunhs/team/">The Team</a></li>
          </ul></li>-->
        <!--<li><a href="{{ site.url }}/warmunhs/whatismun/">What is MUN?</a></li>
        <li><a href="{{ site.url }}/warmunhs/goal/">Our goal</a></li>-->
        <!--<li><a href="{{ site.url }}/warmunhs/committees/">Committees</a></li>-->
        <li>
          <a href="{{ site.url }}/warmunhs/apply/">Apply now!</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
