<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <br>
    <div class= "grid-x content-wrapper">
      <div class="cell auto"></div>
      <div class="cell small-11 medium-8 large-7 columns">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
      <div class="cell auto"></div>
    </div>
    <br>
    {% include footer.html %}
  <script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous"></script>
  <script src="../dist/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</html>
