<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  {% include head.html %}
  <body>
    {% include nav.html %}
    <div class="grid-x content-wrapper transition-fade" id="swup">
      <div class="cell auto"></div>
      <div class="cell small-11 medium-8 large-7 columns">
        <br>
        <h1>{{ page.title }}</h1>
        {{ content }}
        <br>
      </div>
      <div class="cell auto"></div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
