<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  {% include warmunhead.html %}
  <body id="top">
    <div class="warmun" id="swup">
    {% include warmunnav.html %}
    <div class="grid-x content-wrapper transition-fade">
      <div class="cell auto"></div>
      <div class="cell small-11 medium-8 large-7 columns">
        <h1>{{ page.title }}</h1>
        {{ content }}
        <br>
      </div>
      <div class="cell auto"></div>
    </div>
    {% include warmunfooter.html %}
    {% include scripts.html %}
  </div>
  </body>
</html>
